.header {
    @apply mb-8;
    &-wrapper {
        @apply flex items-center justify-between;
    }
}

.links-container {
    @apply text-2xl flex justify-center items-center gap-10;
}

.link {
    @apply py-8 relative;
    &.active {
        @apply text-mainColor;
    
        &::after {
            @apply bg-mainColor left-0 bottom-0;
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
        }
    }
}

